<!-- navbar--------------------------------------------- -->
<nav class="navbar navbar-expand-xxl text-white sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand ms-2 fw-bold d-flex align-items-center gap-2" href="#" style="color: #fff; font-size: 1.5rem;">
            <i class="bi bi-globe2"></i> EduSphere
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home" id="nav_name_dashboard">Dashboard</a>
                </li>
                <li class="nav-item" id="nav_name_publice">
                    <a class="nav-link" href="/publishCourse" >Publish Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myCertificates" id="nav_name_certi">Certificates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#showCourses" id="nav_name_courses">Courses</a>
                </li>
            </ul>


            <!-- nav bar second part for search and user input field---------- -->
            <div class="nav_second_part">
                <form class="d-flex" role="search">
                    <input type="search" class="form-control search_field border-start-0" placeholder="Search for courses..." style="width: 25dvw; min-width: 250px;">
                </form>

                <div class="user_logo ms-4 me-3">
                    <img id="nav_user_logo" style="border-radius: 50%;"></img>
                    <!-- <i class="bi bi-person-circle" style="font-size: 1.5rem; color: #fff;"></i> -->
                    <a class="d-none d-md-block page_user_name" style="margin-left: 10px; margin-bottom: 2px; color: white; text-decoration: none; text-transform: capitalize;" href="/userprofile" id="nav_name_text">Profile</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    const nav_name_dashboard = document.getElementById('nav_name_dashboard') 
    const nav_certificates = document.getElementById('nav_name_certi') 
    const nav_courses = document.getElementById('nav_name_courses') 
    const nav_publice_course = document.getElementById('nav_name_publice')
    const nav_search_field = document.querySelector('.nav_second_part form')
    const nav_user_logo = document.getElementById('nav_user_logo')
    const nav_user_text = document.querySelector('#nav_name_text')
    
    // to change nav_bar link property as per login type-------

    fetch('/getLoginData')
  .then(res => res.json())
  .then(data => {

    const isInstituate = data.isInstituate
    const user_name = data.user_name

    if (!user_name) return

    const firstLetter = user_name[0].toUpperCase()

    if (isInstituate) {
        nav_name_dashboard.href = '/Instituate'
        nav_certificates.innerText = 'UserManager'
        nav_certificates.href = '/instituate_user'
        nav_courses.classList.add('d-none')
        nav_user_text.href = '/instituateProfile'
    } else {
        nav_publice_course.classList.add('d-none')
    }

    nav_user_text.innerText = user_name
    nav_user_logo.src = `https://placehold.co/30x30/png?text=${firstLetter}`
  })


</script>